.notificationButton{
    -fx-background-image: url('NotificationBell.jpeg');
    -fx-background-size: 100% 100%;
}
.notificationButtonLessThanMonth{
    -fx-background-image: url('NotificationBellLessThanMonth.jpeg');
    -fx-background-size: 100% 100%;
}

.notificationButtonOverYear{
    -fx-background-image: url('NotificationBellOverYear.jpeg');
    -fx-background-size: 100% 100%;
}

.notificationButtonLessThanDay{
    -fx-background-image: url('NotificationBellLessThanDay.jpeg');
    -fx-background-size: 100% 100%;
}